nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: maroon;
    height: 70px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 25px;
}
#page-name {
    /* color: maroon; */
    font-size: 30px;
    text-align: left;
    text-transform: capitalize;
}

body{
    /* background-image: url('http://sfwallpaper.com/images/harry-potter-background-11.jpg'); */
    
}

.character-cards {
    display: flex;  
    /* flex-direction: row; */
    /* background-color: gainsboro; */
    color: maroon;
    border: 2px solid black;
}