ul {
    background-color: black;
    height: 80px;
    width: 100%;
    margin: auto;
    text-align: right;
    align-items: center;
}
ul li a {
    text-align: right;
    color: white;
    float: none;
}
li{
    display: inline;
    align-items: center;
}

li a:hover {
    color: goldenrod;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    
}
#page-name {
    color: black;
    padding: 5px;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: left;
    background-color: goldenrod;
}

body{
    /* background-image: url('http://sfwallpaper.com/images/harry-potter-background-11.jpg'); */
    background-image: url('https://kids.scholastic.com/content/dam/scholastic/kids/Content-Mod-BGs/harry-potter/hp_content-bg_cursed-journey2.jpg');

}

.character-cards {
    justify-content: space-evenly;
    align-content: space-between;
    text-decoration: none;
    color: black;
    background-color: goldenrod;
    margin: 15px;
    width: 300px;
    text-align: center;
    height: auto;
    padding: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pictures {
    width: 275px;
    height: 300px;
    margin: 0px;
}
#card-container {
    /* align-content: center;
    align-items: center;
    justify-content: center; */
    display: grid;  
    grid-template-columns: 320px 320px 320px;
    grid-gap: 20px;
    
}